@import "./variables";

.container {
    max-width: 100%;
  &__content {
    max-width: 100%;
    width: 33%;
    display: flex;
    box-shadow: 2px 2px 10px 2px black;
    border-radius: 2rem;
    margin: 1rem auto;
    .cards {
        text-align: center;
    }
    img {
      width: 30%;
    }
  }
}


@media screen and (max-width: 950px) {
    .container__content {
      width: 50%;
  }}

  @media screen and (max-width: 550px) {
    .container {
      max-width: 100%;
      &__content {
        max-width: 100%;
        width: 90%;
        display: flex;
        box-shadow: 2px 2px 10px 2px black;
        border-radius: 2rem;
        margin: 1rem auto;
        .cards {
          text-align: center;
        }
        img {
          width: 30%;
        }
      }
    }
  }