@import "./variables";

.header{
    top: 0;
    position: sticky;
    right: 0;
    left: 0;
    color: $--kirmizi;
    background-color: $--petrol;
    text-align: center;
    padding-top: .6rem;
    &__title{
        font-weight: 400;
    }
    p{
        color: $--acik-turuncu;
        padding-bottom: 1rem;
        width: 100%;
    }
}